body{
	background-color:#000000; 
}
h1 {
 	text-align:center;
 	color: pink;
	border: 4px dashed white;
	font-family:Verdana;


}

p {
	color: #ffffff;
}


li {
	color:#ff00ff;
}


h2 {
	color:#EA3556;
}


h6 {
	color :powderblue;
}

pre {
	color:#AFEEEE;
	font-family:verdana;
}

#p01 {
      color:red;
}

#a01 {
	color:green;
}


#p02 {
 color:white;
  
}

#starry_night {

 width:510px;height:330px; 
}
#p03{
	box-sizing:border-box;
	border:2px solid DodgerBlue;
}


#dat_boi {
	width:128px;height:128px;
}

#dat_frog {
	width:128px;height:128px; 
}


address {
	color:yellow;
}

a {
	color:cyan;
}

img {
	width:200px;height:200px;
}

#pre01 {
	color :#00838f;
	border:3px solid gray;
	box-sizing: border-box;    

	width: 300px;
    height: 100px;
    padding: 30px;   
    font-family:Arial;

}


/*div  {
	background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;  
}
*/

#box_div {
	padding :3px;
	width:400px;
	color:lightgrey;
font-family:Arial;
padding :3px;
border :3px solid #00838f;
}



















