* {
	 box-sizing: border-box;
}

body{
	background-color:#000000;

}

img {
	height: 250px;
	width: auto;
}

.alignleft {
	float: left;
	padding: 1%;

}

.clearfix {
  overflow: auto;
}

.Clear{
	clear: left;
}
.header {
	padding: 5px;
	font-size: 40px;
  text-align: center;
}

.leftcolumn {
	float:left;
	width: 75%;
	padding-left: 8%;
}

.rightcolumn {
	float:  right;
	width: 25%;
	padding-left: 15px;

}

.card {
	background-color: #021313;
	margin-top: 20px;
}

.Tcard {
	background-color: rgb(6, 7, 8);
	margin-top: 10px;
	opacity: 0.5;
	overflow: auto;
	
}

.pinkCard {
	background-color: #1b0407;
	margin-top: 20px;
}
table , th,td {
	border:5px solid rgb(43, 132, 155);
	border-collapse:collapse;
	padding:3px;
	text-align:center;
	color:rgb(22, 92, 45);
}

table {
	width:"%75";
	margin-left:auto;
	margin-right:auto;
}

a{
	color: #e479bb;
	font-family: Arial, Helvetica, sans-serif;
	font-size:20px;
}

h1{
	color:#f0f0f0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 50px;
}
#main_menu {
	color: #8c2175;
	text-decoration-color: #77218c;
	font-family: Arial, Helvetica, sans-serif;
}
.overlay {
	position: absolute;
      top: 10px;
      width: 100%;
      text-align: center;
      z-index: 100;
	  display:block;
	  font-family: Arial, Helvetica, sans-serif;
}
.ocont {
	position: absolute;
	top: 100px;
      width: 100%;
      text-align: left;
      z-index: 100;
	  display:block;
	  left: 15px;
	  font-family: Arial, Helvetica, sans-serif;
	  color: rgb(177, 198, 214);
}

#mainbody{
	
  overflow:hidden;
  margin:0;
  background-color:#0a0909;
}


.info {
	color: #fff;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	z-index: 100;
}


p.bord {
	left: 5px;
}

p{
	font-size: 20px;
	color: bisque;
}

* {
	font-family: Arial, Helvetica, sans-serif;
}

h2{
	font-size: 25px;
	color: antiquewhite;
}


pre{
	font-size:15px;
	color: lavenderblush;
}

#box_div {
	padding :3px;
	width:400px;
	color:lightgrey;
	font-family:Arial;
	padding :3px;
	border :3px solid #00838f;
}