body{
	background-color:#000000; 
}
h1 {
 	text-align:center;
 	color: #000099;
}

p {
	color: #ffffff;
}


li {
	color:#ff00ff;
}


h2 {
	color:#ff6600;
}


h6 {
	color :powderblue;
}

pre {
	color:#3399ff;
	font-family:verdana;
}

#p01 {
      color:red;
}

#a01 {
	color:green;
}


#p02 {
 color:white;
  
}

#starry_night {

 width:510px;height:330px; 
}
#p03{
	border:2px solid DodgerBlue;
}

#dat_boi {
	width:128px;height:128px;
}

#dat_frog {
	width:128px;height:128px; 
}


address {
	color=yellow;
}


























